<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <!-- File Target: Logs to a file with date-based rotation -->
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/nfc-reader-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archive/nfc-reader-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Console Target: Logs to debug output -->
    <target name="console" xsi:type="Debugger"
            layout="${time} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />

    <!-- Error File Target: Separate file for errors only -->
    <target name="errorFile" xsi:type="File"
            fileName="${basedir}/logs/errors-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archive/errors-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <!-- Log everything to file -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    
    <!-- Log errors to separate error file -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    
    <!-- Log to debug console (visible in Visual Studio Output) -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
